
@{
    ViewBag.Title = "Оплата не прошла!";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <h1 class="display-4 ">
               @ViewBag.Title 
            </h1>
            <h2>Во время оплаты произошла ошибка</h2>
            @Html.ActionLink("На главную", "Index", "Home", null, new { @class = "btn-link" })
        </div>
    </div>
</div>
