@{
    ViewBag.Title = "Завершение регистрации";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <h2>@ViewBag.Title</h2>
            <p>На указанный <a href="https://mail.google.com/mail">электронный адрес</a>, отправлены дальнейшие инструкции по завершению регистрации</p>
        </div>
    </div>
</div>