
@{
    ViewBag.Title = "Подтверждение забытого пароля";
}

<hgroup class="modal-title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.
    </p>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <p>  Пожалуйста, проверьте свою <a href="https://mail.google.com/mail">электронную почту</a>, чтобы сбросить пароль.</p>
        </div>
    </div>
</div>