@{
    ViewBag.Title = "Подтверждение забытого пароля";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <p>  К сожалению мы не можем востановить ваш пароль, так как вы не  @Html.ActionLink(" зарегистрировались", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) или не подтвердили електронную почту.</p>
        </div>
    </div>
</div>