
@{
    ViewBag.Title = "Пароль успешно сброшен";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <p> Ваш пароль был изменен. Пожалуйста @Html.ActionLink(" нажмите здесь чтобы войти.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
        </div>
    </div>
</div>