@{
    ViewBag.Title = "О нас";
}
<div class="container">
    <div class="row justify-content-center m-3">
        <div class="col-auto"><h2 class="text-uppercase mb-4 font-weight-bold text-center">@ViewBag.Title</h2></div>
        <div class="w-100"></div>
        <div class="col-8">
            <h4>
            <strong>Мы - магазин по продаже видеоигр - Game</strong>
            Store, но мы не просто продаём видеоигры, мы дарим настоящие эмоции!
            </h4>
          
        </div>
    </div>
</div>
