
@{
    ViewBag.Title = "Гарантия";
}

<div class="container">
    <div class="row justify-content-center m-3">
        <div class="col-auto"><h2 class="text-uppercase mb-4 font-weight-bold text-center">@ViewBag.Title</h2></div>
        <div class="w-100"></div>
        <div class="col-8">
            <p><strong>Можно ли вернуть товар, если он мне не подошел?</strong></p>
            <p> Конечно же, Вы имеете право вернуть товар в течении 14 дней, при условии сохранности товарного вида и документов, подтверждающих покупку.</p>
            <p class="mt-3">
                Вы можете вернуть товар, если:
            </p>

            <ul >
                <li >
                    <p>Товар не был в употреблении и не имеет следов использования: царапин, сколов, потертостей, программное обеспечение не подвергалось изменениям и т.д.</p>
                </li>
                <li >
                    <p>Товар полностью укомплектован и не нарушена целостность упаковки.</p>
                </li>
                <li >
                    <p>Если в товаре проявился дефект, обмен или возврат товара производится только после диагностики сервисного центра, который указан в гарантийном талоне.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

